<ul class="nav nav-tabs">
    <li><a href="booking.view.html">Find Room</a></li>
    <li><a href="#">Cancel Booking</a></li>

</ul>
<br>
<div class="container" style="margin-left: 45%">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Search By
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Requestor Name</a></li>
            <li><a href="#">Space Details</a></li>
        </ul>
    </div>

</div>
<br>

<div class="container" style="margin-left: 48%">
    <div class="row">
        <a href="" class="btn btn-primary btn-space">Confirm</a>
    </div>

</div><br>