.hello {
	color: red;
}

.fa-p:before {
	font-size: 14px;
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'P';
}

.fa-b:before {
	font-size: 14px;
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'B';
}

.booking-top-margin {
	padding-top: 15px;
}

.space-results {
    padding-top: 30px;
}