<section>    
    <!-- <div class="col-md-8 col-md-offset-2">
        <button type="submit" class="btn btn-primary btn-space btn-block">Find Rooms</button>
    </div> -->

    <div ng-if="availableSpaces && availableSpaces.length > 0">
        <table class="table table-striped table-responsive space-results">
            <thead>
                <th>Select</th>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Utilities</th>
            </thead>
            <tbody>
                <tr ng-repeat="space in availableSpaces">
                    <td>
                        <input type="radio" name="spaceSelector" ng-click="selectSpace(space)">
                    </td>
                    <td><b>{{space.roomNumber}}</b></td>
                    <td>{{space.capacity}}</td>
                    <td>
                        <span class="fa fa-p" ng-if="space.projector"></span>
                        <span class="fa fa-b" ng-if="space.blueJeans"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <form class="form-horizontal" ng-if="selectedSpace" ng-submit="createBooking()">
            <div class="form-group">
                <label for="requestorEmail" class="col-sm-2 control-label">Requestor Details: </label>
                <div class="col-sm-2">
                  <input type="email" class="form-control" id="requestorEmail" placeholder="Email" ng-model="requestor.email">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="requestorPhone" placeholder="Phone" ng-model="requestor.phone">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="requestorFirstName" placeholder="First Name" ng-model="requestor.first">
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="requestorLastName" placeholder="Last Name" ng-model="requestor.last">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-primary btn-space btn-block">Book Room</button>
                </div>
            </div>
        </form>

        <div ng-if="newBooking">
            <h4> Your booking has been confirmed. </h4>
            <div class="row">
                Start Date: {{newBooking.startDate}} End Date: {{newBooking.endDate}} Day: {{newBooking.day}}
            </div>
            <div class="row">
                Priority: {{newBooking.priority}} Repeat: {{newBooking.repeatCriteria}}
            </div>
            <div class="row">
                Purpose: {{newBooking.purpose}}
            </div>
        </div>

    </div>
</section>