<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{ 'active': isCreateBookingState() }" ><a ui-sref="booking.create">Booking</a></li>
    <li role="presentation" ng-class="{ 'active': !isCreateBookingState() }"><a ui-sref="booking.cancel"> <!-- class="dropdown-toggle" data-toggle="dropdown" role="button" -->
        Cancel Booking<!-- <b class="caret"></b> --></a>
    </li>
</ul>

<div class="container">
    <div>
        <form class="form-inline">
            <div class="form-group">
                    <div class="col-md-4">
                        <label for="fromDate"><h4>Start Date</h4></label>
                        <input type="date" class="form-control" id="fromDate" placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label for="toDate"><h4>End Date</h4></label>
                        <input type="date" class="form-control" id="toDate" placeholder="">
                    </div>

                    <div class="col-md-4">
                        <label class="dropdown"><h4>Repetition:</h4></label>
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Repeat
                        <span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li><a href="#">Daily</a></li>
                            <li><a href="#">Weekly</a></li>
                            <li><a href="#">Biweekly</a></li>
                            <li><a href="#">Monthly</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <label for="fromTime"><h4>Start Time</h4> </label>
                        <input type="time" class="form-control" id="fromTime" value="00:00">
                    </div>
                    <div class="col-md-4">
                        <label for="toTime"><h4>End Time</h4> </label>
                        <input type="time" class="form-control" id="toTime" value="00:00">
                    </div>
                    <div class="col-md-4">
                        <label for="projector"><h4>Projector</h4> </label>
                        <input type="checkbox" class="form-control" id="projector">
                    </div>
                </div>
            </form>
        <div style="margin-left: 1.2%">
            <form class="form-inline">
                <label for="capacity"><h4>Capacity</h4> </label>
                <input type="number" class="form-control" id="capacity">
            </form>
        </div>

    </div>
</div>

<!-- UI View to include sub-states (partials) of 'booking' state -->
<div ui-view>
</div>